<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
  <link rel="stylesheet" th:href="@{/css/tables.css}" />
</head>
<body>
  <div class="tabs">
    <a th:href="@{/main}" class="tab" th:classappend="${tab == 'main'} ? 'active-tab' : ''">Active Events</a>
    <a sec:authorize="!hasRole('ROLE_ANONYMOUS')"
       th:href="@{/archive}" class="tab" th:classappend="${tab == 'archive'} ? 'active-tab' : ''">Archived Events</a>
    <a sec:authorize="!hasRole('ROLE_ANONYMOUS')"
        th:href="@{/search}" class="tab" th:classappend="${tab == 'search'} ? 'active-tab' : ''">Search Events</a>
    <a sec:authorize="hasRole('ROLE_PARTICIPANT') or hasRole('ROLE_MANAGER')"
       th:href="@{/profile}" class="tab" th:classappend="${activeTab=='profile'} ? 'active-tab' : ''">Profile</a>
    <a th:href="@{/about}" class="tab" th:classappend="${activeTab=='about'} ? 'active-tab' : ''">About the Author</a>
  </div>

  <header>
    <button id="darkToggle">🌙</button>
    <div style="margin-left: 20px;">
      <div>
        <a th:href="@{/logout}">Logout</a>
      </div>
    </div>
  </header>

  <main>
    <h2>User Table</h2>
    <table>
    <thead>
      <tr>
        <th>
          <a th:href="@{/admin/dashboard(page=${currentPage}, sort='id', dir=${sort == 'id' and dir == 'asc' ? 'desc' : 'asc'})}"
            th:class="'sort-header ' + (${sort == 'id'} ? 'active-sort' : '')">
            Id <span th:if="${sort == 'id'}" th:text="${dir == 'asc' ? '↑' : '↓'}"></span>
          </a>
        </th>
        <th>
          <a th:href="@{/admin/dashboard(page=${currentPage}, sort='username', dir=${sort == 'username' and dir == 'asc' ? 'desc' : 'asc'})}"
            th:class="'sort-header ' + (${sort == 'username'} ? 'active-sort' : '')">
            Username <span th:if="${sort == 'username'}" th:text="${dir == 'asc' ? '↑' : '↓'}"></span>
          </a>
        </th>
        <th>
          <a th:href="@{/admin/dashboard(page=${currentPage}, sort='lastName', dir=${sort == 'lastName' and dir == 'asc' ? 'desc' : 'asc'})}"
            th:class="'sort-header ' + (${sort == 'lastName'} ? 'active-sort' : '')">
            Last Name <span th:if="${sort == 'lastName'}" th:text="${dir == 'asc' ? '↑' : '↓'}"></span>
          </a>
        </th>
        <th>
          <a th:href="@{/admin/dashboard(page=${currentPage}, sort='firstName', dir=${sort == 'firstName' and dir == 'asc' ? 'desc' : 'asc'})}"
            th:class="'sort-header ' + (${sort == 'firstName'} ? 'active-sort' : '')">
            First Name <span th:if="${sort == 'firstName'}" th:text="${dir == 'asc' ? '↑' : '↓'}"></span>
          </a>
        </th>
        <th>
          <a th:href="@{/admin/dashboard(page=${currentPage}, sort='birthYear', dir=${sort == 'birthYear' and dir == 'asc' ? 'desc' : 'asc'})}"
            th:class="'sort-header ' + (${sort == 'birthYear'} ? 'active-sort' : '')">
            Birth Year <span th:if="${sort == 'birthYear'}" th:text="${dir == 'asc' ? '↑' : '↓'}"></span>
          </a>
        </th>
        <th>
          <a th:href="@{/admin/dashboard(page=${currentPage}, sort='role', dir=${sort == 'role' and dir == 'asc' ? 'desc' : 'asc'})}"
            th:class="'sort-header ' + (${sort == 'role'} ? 'active-sort' : '')">
            Role <span th:if="${sort == 'role'}" th:text="${dir == 'asc' ? '↑' : '↓'}"></span>
          </a>
        </th>
        <th>Actions</th>
      </tr>
    </thead>

        <tbody>
          <tr th:each="user : ${users}">
            <td th:text="${user.id}">id</td>
            <td th:text="${user.username}">jdoe</td>
            <td th:text="${user.lastName}">Doe</td>
            <td th:text="${user.firstName}">John</td>
            <td th:text="${user.birthYear}">1980</td>
            <td th:text="${#strings.capitalize(user.role.toLowerCase())}">PARTISIPANT</td>
            <td>
              <form th:action="@{/admin/edit/{id}(id=${user.id})}" method="get" style="display:inline;"
                    th:if="${user.id != 1}">
                <button type="submit">Edit</button>
              </form>
              <form th:action="@{/admin/delete/{id}(id=${user.id})}" method="post" style="display:inline;"
                    th:if="${user.id != 1}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit" onclick="return confirm('Are you sure?');">Delete</button>
              </form>
            </td>

          </tr>
        </tbody>
  </main>

  <script th:src="@{/js/dark-mode.js}" defer></script>
</body>
</html>
