<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit profile</title>
  <link rel="stylesheet" th:href="@{/css/forms.css}" />
</head>
<body>
  <button id="darkToggle">🌙</button>

  <h2>Edit profile</h2>
  <form th:action="@{/profile/update}" th:object="${user}" method="post" id="editProfileForm">
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="text"     id="username"   th:field="*{username}"  placeholder="Username"   required/>
    <input type="text"     id="firstName"  th:field="*{firstName}" placeholder="First name"  required/>
    <input type="text"     id="lastName"   th:field="*{lastName}"  placeholder="Last name"   required/>
    <input type="number"   id="birthYear"  th:field="*{birthYear}" placeholder="Birth year"  required/>
    <input type="password" id="password"   th:field="*{password}"  placeholder="Password"    required/>  
    <input type="password" id="confirmPassword"                 placeholder="Confirm password" required/>
    <div style="width: 200px; margin: 10px auto;">
      <select th:field="*{role}" required style="width: 100%; padding: 8px; font-size: 14px;">
        <option value="PARTICIPANT">Participant</option>
        <option value="MANAGER">Manager</option>
      </select>
    </div>
    <button type="submit">Update profile</button>
  </form>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
        document.getElementById('password').value = '';
        document.getElementById('confirmPassword').value = '';
    });
    document.getElementById('editProfileForm').addEventListener('submit', e => {
      if (document.getElementById('password').value !== document.getElementById('confirmPassword').value) {
        e.preventDefault();
        alert('Passwords do not match');
      }
    });
    
    document.querySelector('.back-link a').addEventListener('click', () => {
        document.getElementById('password').value = '';
        document.getElementById('confirmPassword').value = '';
    });
  </script>
  <div class="back-link">
    <p><a th:href="@{/profile}">Back to profile</a></p>
  </div>

  <script th:src="@{/js/dark-mode.js}" defer></script>
</body>
</html>
