<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
  <script th:src="@{/js/dark-mode.js}" defer></script>
  <link rel="stylesheet" th:href="@{/css/tables.css}" />
</head>
<body>
  <div class="tabs">
    <a th:href="@{/}" class="tab" th:classappend="${activeTab=='home'} ? ' active' : ''">Home</a>
    <a sec:authorize="hasRole('ROLE_PARTICIPANT') or hasRole('ROLE_MANAGER')" th:href="@{/profile}" class="tab" th:classappend="${activeTab=='profile'} ? ' active' : ''">Profile</a>
    <a th:href="@{/about}" class="tab" th:classappend="${activeTab=='about'} ? ' active' : ''">About the Author</a>
  </div>

  <header>
    <button id="darkToggle">🌙</button>
    <div style="margin-left: 20px;">
      <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
        <a th:href="@{/login}">Login</a> /
        <a th:href="@{/sign-up}">Sign Up</a>
      </div>
      <div sec:authorize="hasRole('ROLE_PARTICIPANT') or hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">
        <a th:href="@{/logout}">Logout</a>
      </div>
      <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/admin/dashboard}">Admin Panel</a>
      </div>
    </div>
  </header>

<main>
  <h2>Sport Events</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Place</th>
        <th>Venue</th>
        <th>Participants</th>
        <th>Starts</th>
        <th>Ends</th>
        <th>Status</th>
        <th sec:authorize="hasRole('ROLE_PARTICIPANT')">Participate</th> <!-- action column -->
        <th></th> <!-- extra placeholder -->
      </tr>
    </thead>
    <tbody>
      <tr th:each="event : ${events}">
        <td th:text="${event.name}"></td>
        <td th:text="${event.place}"></td>
        <td th:text="${event.venueType}"></td>
        <td th:text="${event.currentParticipantsCount} + ' / ' + ${event.maxParticipants}"></td>
        <!-- <td th:text="${#dates.format(event.startsAt, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${#dates.format(event.endsAt,   'yyyy-MM-dd HH:mm')}"></td> -->
        <td th:text="${event.status}"></td>

        <td sec:authorize="hasRole('ROLE_PARTICIPANT')">
          <form th:if="${!subscribedEventIds.contains(event.id)}"
                th:action="@{/events/subscribe/{id}(id=${event.id})}"
                method="post" style="display:inline">
            <button type="submit">Subscribe</button>
          </form>

          <form th:if="${subscribedEventIds.contains(event.id)}"
                th:action="@{/events/unsubscribe/{id}(id=${event.id})}"
                method="post" style="display:inline">
            <button type="submit">Unsubscribe</button>
          </form>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</main>


</body>
</html>
